<div>
    <style>
        section {
            height: 100vh; /* 화면 높이만큼의 높이 */
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 2rem;
            color: white;
        }
        #section1 { background-color: #ff6b6b; }
        #section2 { background-color: #6bc1ff; }
        #section3 { background-color: #6bff95; }
        #section4 { background-color: #ffc36b; }
        #section5 { background-color: #d36bff; }
    </style>
    <h1>결제프로세스</h1>
    <section id="section1">
        <h1>Section 1</h1>
    </section>
    <section id="section2">
        <h1>Section 2</h1>
    </section>
    <section id="section3">
        <h1>Section 3</h1>
    </section>
    <section id="section4">
        <h1>Section 4</h1>
    </section>
    <section id="section5">
        <h1>Section 5</h1>
    </section>
</div>