<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:fragment="head(title)">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title th:text="${title}">Default Title</title>

    <!-- Shoelace -->
    <script type="module" src="/libs/shoelace-style/shoelace-autoloader.js"></script>
    <link rel="stylesheet" href="/libs/shoelace-style/themes/light.css">

    <!-- Tailwind CSS -->
    <link href="/libs/tailwind/tailwind.min.css" rel="stylesheet">

    <!-- htmx -->
    <script src="/libs/htmx/htmx.min.js" defer></script>

    <!-- Alpine.js -->
    <script src="/libs/alpinejs/alpine.min.js" defer></script>

    <!-- Chart.js -->
    <script src="/libs/chartjs/chart.umd.js"></script>

    <!-- ExcelJS -->
    <script src="/libs/exceljs/exceljs.min.js"></script>
</head>