<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{fragments/layouts/layout :: layout}">
<title>할 일 목록</title>

<section th:fragment="content">
    <div class="flex-1 p-6 space-y-40">

        <div id="demo">
            <h1 class="text-3xl font-bold mb-4">결제 연동 체험하기</h1>
            <div class="h-[1500px] bg-blue-100 flex items-center justify-center rounded-lg">
                <p class="text-xl">결제 연동 체험하기 콘텐츠</p>
            </div>
        </div>

        <div id="auth">
            <h2 class="text-2xl font-semibold mb-4">인증</h2>
            <div class="h-[1500px] bg-green-100 flex items-center justify-center rounded-lg">
                <p class="text-xl">인증 콘텐츠</p>
            </div>
        </div>

        <div id="firewall">
            <h2 class="text-2xl font-semibold mb-4">방화벽</h2>
            <div class="h-[1500px] bg-yellow-100 flex items-center justify-center rounded-lg">
                <p class="text-xl">방화벽 콘텐츠</p>
            </div>
        </div>

        <div id="request">
            <h2 class="text-2xl font-semibold mb-4">API URL 형식</h2>
            <div class="h-[1500px] bg-purple-100 flex items-center justify-center rounded-lg">
                <p class="text-xl">API URL 형식 콘텐츠</p>
            </div>
        </div>

        <div id="response">
            <h2 class="text-2xl font-semibold mb-4">기본 응답 형식</h2>
            <div class="h-[1500px] bg-pink-100 flex items-center justify-center rounded-lg">
                <p class="text-xl">기본 응답 형식 콘텐츠</p>
            </div>
        </div>
    </div>
</section>
</html>